# NBTech — .dockerignore
# Excluir do build Docker o que não é preciso em runtime

.vscode
.git
.gitattributes
.gitignore
.env
.env.example
.env.testing
.gitlab-ci.yml

node_modules/
vendor/

tests/
docs/

.editorconfig
.dockerignore
Makefile
*.md
public/build/
phpunit.xml
phpstan.neon
pint.json
tailwind.config.js
tsconfig.json
